---
---

@charset "utf-8";

// Example Defaults
$base-font-family: Cooper,Georgia,Times,Times New Roman,serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
// $theme-primary: #F05F40;
$theme-primary: #c66629;
$theme-dark: #222;
$theme_blue: #297d7d;
$theme_orange: #c66629;
$theme_green: #c6e170;


// Cooper,Georgia,Times,Times New Roman,serif

// #c66629
// #c6e170
// #297d7d

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "base"
;
