<section id="footer" style='background-color: #c6e170;'>
  <div class="container">
    <div class="row text-center">
      <p>Here is a balloon for you for making that far.</p>
      <img src="img/balloon.png" alt="" style='max-height: 150px'>
      <!-- <img src="img/bunu_logo.png" class="img-responsive" alt="" style='max-height: 70px'> -->
      <!-- 2018 -->
    </div>
  </div>
</section>
