<section id="for_schools">
  <div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-6 text-center">
          <h1>Hey schools!</h1>
          <h3>
            Thanks for teaching us languages.
          </h3>
          <p>
            Currently, in order to get more information about available courses, their intensity, level, starting dates and prices we have to call you separately. Wouldn't it be better to have all this information available online?
          </p>
        </div>

        <div class="col-lg-6 col-md-6 text-center">
          <h1>Get in touch!</h1>
          <img src="img/letter.png" alt="" style='max-width: 50px'>
          <h3>
            Have any questions or would like to partner up? Write bunu:
          </h3>
          <h2>
            hi@bunu.eu
          </h2>
        </div>

      </div>
    </div>
</section>
