<section id="for_learners">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-md-6 text-center">
        <!-- <img src="img/flower.png" class="img-responsive" alt="" style='max-height: 300px'> -->
        <img src="img/flower.png" alt="" style='max-height: 300px; float: right'>
      </div>

      <div class="col-lg-9 col-md-6 text-center">
        <h1>Spending too much time looking for appropriate language course?</h1>
        <h3>
          Here you will be able to discover, compare and book an in-class course that fits your busy schedule.
        </h3>
      </div>

    </div>
  </div>
</section>
