<header id="about">
  <div class="header-content">
    <div class="header-content-inner">

      <div class="row">
          <div class="col-lg-8 col-md-6 text-center">
              <!-- <div class="service-box"> -->
                  <!-- <i class="material-icons md-48 wow bounceIn text-primary">usb</i> -->
                  <!-- <h3>Works with your device</h3> -->
                  <!-- <p class="text-muted">Just plug your USB or serial cable and download.</p> -->
              <!-- </div> -->

              <h1>Find the language course you like</h1>
              <p>We will be launching soon for German language courses in Vienna, Austria</p>

              <a class="page-scroll btn btn-blue btn-xl" href="#for_learners">For Learners</a>
              <a class="page-scroll btn btn-orange btn-xl" href="#for_schools">For Schools</a>
              <!-- <a href="https://gitlab.com/jekyll-themes/creative/" class="btn btn-default btn-xl">Fork Me!</a> -->
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <img src="img/hedgehog_left.png" class="img-responsive" alt="" style='max-height: 300px'>
            <!-- <img src="img/hedgehog.png" class="img-responsive" alt=""> -->
          </div>
      </div>

    </div>
  </div>
</header>
