<section id="sign_up" style='background-color: #c66629;'>
  <div class="container">
    <div class="row text-center">

        <h2 style='color: white'>There is still work to be done before bunu is ready to roll. </h2>
        <p style='color: white'>
          Leave your email below, if you want to be informed about the launch date.
        </p>

        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
          <form action="https://bunu.us19.list-manage.com/subscribe/post?u=e59929be1362919320fed6ff9&amp;id=eb64b62c39" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style='width: 100%;padding: 1em;'>
          <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style='padding: 10px; margin: 10px'>
            </div>

            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_e59929be1362919320fed6ff9_eb64b62c39" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-blue btn-xl">

            <!-- <div class="clear">
            </div> -->
            <!-- <a class="page-scroll btn btn-blue btn-xl" href="#for_learners">For Learners</a> -->


            </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End Mailchimp Signup Form-->

      </div>
    </div>
</section>
