<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include for_learners.html %}
  {% include sign_up.html %}
  {% include for_schools.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
